---
import AnimationLayout from "../../layouts/AnimationLayout.astro";
import Header from "../../components/Header.astro";
import PostRow from "../../components/PostRow.astro";
import { BLOG_TITLE, BLOG_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../consts";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<AnimationLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <Header />
  <main
    class="w-screen h-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8 pt-4"
  >
    <section>
      <h1 class="text-4xl font-bold mb-4">Posts</h1>
      <ul class="w-full">
        {
          posts.map((post) => (
            <PostRow
              title={post.data.title}
              date={post.data.pubDate}
              url={post.slug}
            />
          ))
        }
      </ul>
    </section>
  </main>
</AnimationLayout>
