---
import Footer from "../../components/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import PostRow from "../../components/PostRow.astro";
import { getCollection } from "astro:content";

const BLOG_TITLE = "Zach - Blog";
const BLOG_DESCRIPTION =
  "Notes on software engineering, data science, and systems.";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const tags = [
  "CloudApps",
  "Web",
  "MLInfrastructure",
  "Test-Driven-Dev",
  "AlgorithmAnalysis",
  "Mobile",
  "RESTfulAPIs",
  "CNNs/RNNs",
  "ParallelPerformance",
];
---

<Layout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <main class="w-screen flex flex-col max-w-3xl mx-auto p-8 pt-4">
    <div>
      <h1 class="text-4xl font-bold mb-4">Welcome to my blog</h1>
      <p class="text-lg">Findings, projects, other interesting things...</p>
      <div
        class="card border border-gray-200 my-6 p-6 transfor-y-[-40%] shadow-lg align-start justify-start relative transform perspective-1200 w-full transition duration-75 ease-in-out col-span-1 h-auto"
      >
        <div class="flex flex-col w-fit h-full">
          <ul class="list-none inline-flex flex-wrap gap-2">
            {
              tags.map((tag) => (
                <li class="">
                  <a href="">
                    <span class="h-fit badge badge-ghost badge-md transition-transform hover:scale-110">
                      #{tag}
                    </span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <section>
      <h1 class="text-4xl font-bold mb-4">Posts</h1>

      <ul class="w-full">
        {
          posts.map((post) => (
            <PostRow
              title={post.data.title}
              date={post.data.pubDate}
              url={post.slug}
            />
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
