---
interface Props {
  title: string;
  date: Date;
  url: string;
}

const { title, date, url } = Astro.props;
const localDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<li
  class="w-full ease-in-out transition-colors border-b border-dashed border-b-2 my-2"
>
  <a class="text-sm flex justify-between" href={`/blog/${url}`}>
    <p class="inline-block whitespace-nowrap flex-1">
      {title}
    </p>
    <time
      class="text-right tabular-nums"
      datetime={date.toISOString()}
      data-date={date.toISOString()}
    >
      {localDate}
    </time>
  </a>
</li>
