---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../consts";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import avatarImage from "../assets/avatar-frame-close.png";

const currentYear = new Date().getFullYear();
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[400px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-neutral-500">welcome</h6>
        <p class="m-0 font-light lg:text-xl">
          Hi, I'm <b class="font-bold">Zach</b>, a software engineer. I am
          passionate about solving problems, creating insight from data, and
          crafting visually appealing designs. My professional interests
          encompass systems programming and data science.
        </p>
      </div>
      <div class="flex gap-4 p-2">
        <a
          href={LINKS.github}
          aria-label="github profile"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="tooltip" data-tip="GitHub">
            <Button aria-label="github profile">
              <Icon name="line-md:github-loop" class="h-6" />
              <span class="sr-only">GitHub Profile</span>
            </Button>
          </div>
        </a>
        <a
          href={LINKS.linkedin}
          aria-label="linkeding profile"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="tooltip" data-tip="LinkedIn">
            <Button aria-label="linkedin profile">
              <Icon name="line-md:linkedin" class="h-6" />
              <span class="sr-only">Linkedin Profile</span>
            </Button>
          </div>
        </a>
        <a
          href={LINKS.discord}
          aria-label="discord"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="tooltip" data-tip="Discord">
            <Button aria-label="discord">
              <Icon name="line-md:discord" class="h-6" />
              <span class="sr-only">Discord</span>
            </Button>
          </div>
        </a>
      </div>
    </div>
    <Image
      src={avatarImage}
      height="300"
      width="300"
      alt="avatar of zach"
      decoding="async"
      loading="lazy"
      class="select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-85 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
    />
  </div>
  <div class="flex items-end justify-end">
    <p class="text-xs inline-flex">
      © {currentYear} · Crafted with <Icon
        name="noto:black-heart"
        class="h-4 text-error ml-1"
      />
      <Icon name="noto:sign-of-the-horns" class="h-4 text-error ml-1" />
      <span class="sr-only">Love</span>
    </p>
  </div>
</Card>
