---
import type { MDXLayoutProps } from "astro";
import HeadLayout from "./HeadLayout.astro";

type Props = MDXLayoutProps<{
  title: string;
  description: string;
  pubDate: string;
  minutesRead: string;
}>;

const { frontmatter } = Astro.props;
---

<HeadLayout title={frontmatter.title} description={frontmatter.description}>
  <main>
    <article>
      <div class="">
        <div class="title">
          <div class="date">
            {frontmatter.pubDate}
          </div>
          <h1>{frontmatter.title}</h1>
          <p>{frontmatter.minutesRead}</p>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </main>
</HeadLayout>
